body{background:lightgreen;
color:174B93;
font-size:18pt
font-family: 'Open Sans Condensed', sans-serif;
}

.rotateimg180 {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}


h2{border-left: 4px solid crimson}

a{color:FF0000;
text-decoration:none}
a:hover{color:1C79C6}
nav li{border: 2px solid black;
display:inline-block;
padding: 10px;
}

table, th, td{ border: 1px solid black;
 border-collapse: collapse}